.mainana{
    
    display: flex;
    flex-direction:column ;
    width: 83%;
    height: 1749px;
    background-color: whitesmoke;
}
#ana{
    margin-left: 48px;
    margin-top:40px;
    width: 113px;
height: 39px;
/* UI Properties */
text-align: left;
font: normal normal medium 30px/39px Roboto;
letter-spacing: 0px;
color: #000000;
}
.col1{
    margin-left:48px ;
    margin-top:22px;
    display: flex;
    flex-direction: column;
    width:81%;

}

#namec{
    width: 109%;
    height: 39px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    margin-top: 14px;
    margin-left: 5px;

}
#drop{
    margin-top: 21px;
    margin-left: 5px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    width: 109.5%;
    height: 39px;
}
#multipleline{
    margin-top: 21px;
    margin-left: 5px;
    width: 109%;
height: 130px;
/* UI Properties */
border: 1px solid #ADADAD;
border-radius: 5px;
}

.two{
    margin-top:22px ;
    margin-left:5px ;
    width: 121px;
    height: 29px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 22px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
}

.container
{   
    background-color: white
    height: 184px;
    width: 81%;
    margin-top: 22px;
    margin-left: 48px;
    display: flex;
    flex-direction: column;
}
.contain2
{
    width: 114%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.item61
{
    width: 347px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    margin-right: 24px;
    margin-top: 10px;
}
.item64 {
    width: 358px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 24px;
    margin-bottom: 13px;
}
.item
{
    width: 342px;
    height: 40px;
    margin-right: 24px;
 
    margin-bottom: 20px;
}

#lege
{
    width: 330px;
    height: 40px;
    border: 1px solid #3e3e3e;
    margin-right: 24px;
    /* margin-left: -10px; */
    margin-top: 10px;
}
.col3{
    width: 81%;
    height: 116px;
    margin-top: 22px;
    margin-left: 48px;
    display: flex;
    flex-direction: column;
}
.third{
    display: flex;
}
.thirditem{
    margin-left: 5px;
    margin-top: 18px;
    width: 364px;
height: 41px;
/* UI Properties */
border: 1px solid #C8242F;
border-radius: 5px;

}
.third2item{
    margin-left: 5px;
    margin-top: 18px;
    width: 364px;
height: 41px;
/* UI Properties */
border: 1px solid #ADADAD;
border-radius: 5px;

}

.col4{
    width: 81%;
    height: 136px;
    margin-top: 25px;
    margin-left: 48px;
    display: flex;
    flex-direction: column;
}
.fourth{
    display: flex;
}
.foritem{
    margin-left: 5px;
    margin-top: 13px;
    width: 266px;
height: 47px;
/* UI Properties */
border: 1px solid #FF3C3C;
border-radius: 5px;
}
.for2item{
    margin-left: 5px;
    margin-top: 13px;
    width: 266px;
height: 47px;
/* UI Properties */
border: 1px solid #ADADAD;
border-radius: 5px;
}
.col5{
    width: 81%;
    height: 144px;
    margin-top: 21px;
    margin-left: 48px;
    display: flex;
    flex-direction: column;
}
.five{
    margin-top:22px ;
    margin-left:5px ;
    width: 225px;
    height: 29px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 22px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
}
#fu{
    margin-top: 10px;
    margin-left: 5px;
    width: 90px;
height: 24px;
/* UI Properties */
text-align: left;
font: normal normal medium 18px/24px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
}
#f{
    margin-top:14px ;
    margin-left: 5px;
    width: 124px;
height: 36px;
/* UI Properties */
border: 1px solid #C8242F;
border-radius: 18px;
}
.col6{
    width: 81%;
    height: 56px;
    margin-top: 36px;
    margin-left: 48px;
    display: flex;
    flex-direction: column;
}
.col26{
    display: flex;
    margin-left: 5px;
}
.six{
  
    margin-left:5px ;
    width: 104px;
height: 24px;
/* UI Properties */
text-align: left;
font: normal normal medium 18px/24px Roboto;
letter-spacing: 0px;
    color: #3E3E3E;
}
#Option{
    margin-left: 9px;
    margin-top: 14px;
    width: 56px;
height: 20px;
/* UI Properties */
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
}
#op{
    margin-left: 5px;
}
.col7{
    width: 81%;
    height: 56px;
    margin-top: 32px;
    margin-left: 48px;
    display: flex;
    flex-direction: column;

}
.container1
{   margin-left: 48px;
    margin-top: 34px;
    height: 152px;
    width: 81%;
}
.contain21
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
#snac{
    margin-left:5px ;
    width: 121px;
    height: 29px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 22px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;

}
.item71 {
    width: 345px;
    height: 40px;
    border: 1px solid #FF3535;
    border-radius: 5px;
    margin-right: 24px;
    margin-top: 10px;
    margin-left: 5px;
    display: flex;
}
.item72
{
    width: 347px;
    height: 40px;
    border: 1px solid #00B9E1;
    border-radius: 5px;
    margin-right: 24px;
    margin-left: 33px;
    margin-top: 10px;
    display: flex;
}
.item73
{
    width: 345px;
    height: 40px;
    border: 1px solid #FFA800;
    border-radius: 5px;
    margin-top: 24px;
    margin-left: 5px;
    display: flex;
}
.item74
{
    width: 347px;
    height: 40px;
    border: 1px solid #00AF27 ;
    border-radius: 5px;
    margin-top: 24px;
    margin-left: 59px;
    display: flex;
}
.img {
    height: 25px;
    margin-left: 7px;
    margin-top: 7px;
}
.error {
    margin-top: 10px;
    margin-left: 6px;
    color:#FF3535;
}
.info1 {
    margin-top: 10px;
    margin-left: 6px;
    color: #00B9E1;
}
.war1 {
    margin-top: 10px;
    margin-left: 6px;
    color:#FFA800 ;
}
.suc1 {
    margin-top: 10px;
    margin-left: 6px;
    color:#00AF27 ;
}
.col8{
    width: 81%;

    margin-top: 34px;
    margin-left: 48px;
    display: flex;
    flex-direction: column;
}
#eight{
    margin-left: 5px;
    width: 106px;
height: 24px;
/* UI Properties */
text-align: left;
font: normal normal medium 18px/24px Roboto;
letter-spacing: 0px

}
.col28{

    display: flex;
    margin-left: 5px;
    margin-top: 14px;
}
.btn8{
    width: 124px;
height: 45px;
/* UI Properties */
background: #C8242F 0% 0% no-repeat padding-box;
border-radius: 23px;
}
.btn81{
    margin-left: 20px;
    width: 124px;
height: 45px;
/* UI Properties */
border: 1px solid #C8242F;
border-radius: 23px;
}
.col9{
    width: 81%;

    margin-top: 34px;
    margin-left: 48px;
    display: flex;
    flex-direction: column;

}
.col91{
    display: flex;
    margin-left: 5px;
    margin-top: 14px;

}
.tab1{
    width: 37px;
height: 20px;
/* UI Properties */
text-align: left;
font: normal normal medium 15px/20px Roboto;
letter-spacing: 0px;
color: #C8242F;
}
.tab2{
    margin-left: 36px;
    width: 37px;
    height: 20px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
}
.tab1{
    border-bottom: 1px solid red;
}
.col91{
    border-bottom: 1px solid #ADADAD;
}
.col92{
    /* margin-top: -10px; */
    margin-left: 5px;
    width: 100%;
    height: 68px;
    text-align: left;
    /* display: flex; */
    font: normal normal normal 15px/24px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    flex-wrap: wrap;
}
.submain {
    margin-top: 22px;
    background-color: #FFFFFF;
    width: 91%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}