*{
    margin: 0px;
    padding: 0px;
}
.header{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
}
.icon1{
    display: flex;
}
#m{
    margin-left: 29px;
    margin-top: 34px;
    margin-bottom: 34px;
    width: 36px;
    height: 24px;
}

#l{
    margin-left: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* width: 142px; */
    height: 30px;

}
#s {
    margin-left: 54px;
    margin-top: 38px;
    margin-bottom: 31px;
    width: 16px;
    height: 16px;

}
#se{
    margin-left: 15px;
    margin-top: 35px;
    margin-bottom: 5px;
    width: 20%;
    height: 21px;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #000000;
    border: none;
}
.icon2{
    display: flex;
    justify-content: flex-end;
}
#dwarr {
    /* float: right; */
    /* position: relative; */
    margin-right: 42px;
    margin-bottom: 37px;
    margin-top: 37px;
    hieght: 10px;
    height: 19px;
}
#usrname {
    margin-right: 14px;
    margin-top: 33px;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #000000;
    width: 68px;
    height: 21px;
}
#pro {
    position: relative;
    /* float: right; */
    /* position: relative; */
    margin-right: 18px;
    margin-top: 18px;
    width: 44px;
    height: 44px;

}
#noti {
    /* position: relative; */
    /* float: right; */
    /* position: relative; */
    margin-right: 52px;
    margin-top: 28px;
    width: 22px;
    height: 22px;
}

/* sidebar */

.sidebar
{
    /* background: #FFF3F4 0% 0% no-repeat padding-box; */
    width: 183px;
    height: 43px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #C8242F;
    margin-bottom: 6%;
}

#asi
{
    margin-bottom: 10px;
    font-size: 19px;
    color: #C8242F;
    text-decoration: none;
    margin-left: 11px;
}
#asi2
{
    margin-bottom: 10px;
    font-size: 19px;
    color: #3E3E3E;
    text-decoration: none;
    margin-left: 11px;
}
.icon{
    width: 23px;
    height: 34px;
    margin-left: 17px;
    padding-right: 10px;
    position: relative;
    top: 10px;
 }

 .options
 {
    margin-top: 2%;
    margin-left: 2%;
    width: 14%;
    display: flex;
    flex-direction: column;
 }
 .asi-con
{
    display: flex;
    justify-content: space-between;
}
/* main code for dashboard */

body div{
    display: flex;
}

#label{
    font: 30px/39px Roboto;
    margin-top: 14px;
    margin-left: 15px;
}
main{
    background: #FAFAFA;
}

#items{
    display: flex;
    justify-content: space-between;
    background-color: #FAFAFA;
    margin-top: 22px;
    margin-left: 15px;
    margin-right: 15px;
    flex-wrap: wrap;
}

.item{
    width: 195px;
    background-color: white;
    justify-content: center;
}

.iconmain{
    width: 34px;
    height: 34px;
    margin-top: 31px;
    margin-right: 12px;
}

.num{
    font: 25px/33px Roboto;
    color: #3E3E3E;
}

.subitem{
    margin-top: 31px;
    display: block;
}

.title{
    font: 15px/20px Roboto;
    color: #3E3E3E;
}

#graph{
    margin-top: 30px;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
}

#graph div{
    background-color: white;
}

#dgraph{
    height: 400px;
    width: 100%;
    display: block;
}

#pchart{
    width: 100%;
    height: 330px;
    display: block;
}

.sale{
    font: 22px/29px Roboto;
    margin-bottom: 20px;
}

nav a{
    font: 12px/16px Roboto;
    color: #ADADAD;
    text-decoration: none;
    padding: 10px;
}

#dgraphdiv{
    width: 60%;
    padding: 2%;
    flex-direction: column;
}

#pchartdiv{
    width: 30%;
    padding: 2%;
    flex-direction: column;
}

#info{
    display: flex;
    font: 15px/20px Roboto;
    color: #3E3E3E;
    padding: 0px;
    justify-content: space-around;
    flex-wrap: wrap;
}

#info img{
    width: 18px;
    height: 18px;
}

.country div{
    width: 120px;
}

#tab-head{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    background-color: white;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

th{
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 1.5px;
    color: #ADADAD;
}

table{
    background-color: white;
    width: 100%;
    border-spacing: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

tr{
    vertical-align: middle;
}

tbody{
    text-align: left;
    font: 15px/20px Roboto;
    color: #3E3E3E;
}

td{
    border-bottom: 1px solid whitesmoke;
}

#inv{
    font: 22px/29px Roboto;
    color: #3E3E3E;
}

#view{
    font: normal normal normal 12px/16px Roboto;
    color: #C8242F;
}

td div{
    width: fit-content;
    padding: 2px 12px;
    border-radius: 5px;
    font: 15px/20px Roboto;
}

#paid{
    background: #EBFFEF;
    color: #3CDD5F;
}

#fail{
    background: #FFF5F5;
    color: #FF4545;
}

#pending{
    background: #F8F8F8;
    color: #BABABA;
}

/* media query */

@media screen and (max-width:1120px){
    #graph{
        flex-direction: column;
    }   
    #dgraphdiv{
        width: unset;
    }
    #pchartdiv{
        width: unset;
    }
    .main{
        width: 82%;
    }
}


/* header */
@media screen and (max-width:700px) {
    #m {
        margin-left: 5px;}
    #l {
        margin-left: 10px;}
    #s {
        margin-left: 25px;}
    #se {
        margin-left: 7px;}
    #noti {
        /* position: relative; */
        /* float: right; */
        /* position: relative; */
        margin-right: 20px;}
    #pro {
            position: relative;
            /* float: right; */
            /* position: relative; */
            margin-right: 10px;}
    #usrname {
            margin-right: 0px;}
    #dwarr {
            /* float: right; */
            /* position: relative; */
            margin-right: 15px}
    
    
}
@media screen and (max-width:544px){
    .icon1{
        justify-content: space-around;
    }
    .icon2{
        justify-content: space-around;
    }
    #m {
        width: 16px;}
    #l {
        width: 115px;}
    #s {
        margin-left: 0px;
        width: 12px;}
    #se{
        margin-left: 0px;
    }
    #noti {
        /* position: relative; */
        /* float: right; */
        /* position: relative; */
        margin-right: 10px;
        width: 16px;
    }
    #pro {
        /* float: right; */
        /* position: relative; */
        margin-right: 10px;
        margin-top: 26px;
        width: 30px;
        height: 33px;
    }
    #usrname {
        margin-right: 2px;
        width: 31px;
        height: 18px;
    }
    #dwarr {
        /* float: right; */
        /* position: relative; */
        margin-right: 15px;
        height: 17px;
    }
}

@media screen and (max-width:499px) {

    #m {
        margin-left:0px;
        height: 16px;}
    #l {
        width: 90px;
        margin-left: 0px;
    }
    #s{
        height: 16px;
    }
    #se{
        width: 30%;
    }
    #pro {
        /* float: right; */
        /* position: relative; */
        margin-right: 3px;
        margin-top: 28px;
        width: 26px;
        height: 30px;
    }
}





/* sidebar */
@media screen and (max-width:1110px) {
    .asi-con{
        flex-direction: column;
    }
    .options{
        flex-direction: row;
        width: unset;
        flex-wrap: wrap;

    }
    /* .mainana{
        width: unset;
    } */
    .sidebar{
        margin: 0px;
    }

}
